[submodule "themes/hexo-theme-next"]
	path = themes/hexo-theme-next
	url = git@github.com:sywang6/hexo-theme-next.git
[submodule "themes/themes/hexo-theme-next"]
	path = themes/themes/hexo-theme-next
	url = git@github.com:sywang6/hexo-theme-next.git
